body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #08415C;
}

.game-container{
    display: grid;
    width: 50vw;
    height: 80vh;
    grid-template-columns: 33.333% 33.333% 33.333%;
  grid-template-rows: 33.333% 33.333% 33.333%;
  background-color: #CC2936;
    position: absolute;
    overflow: hidden;
}
.tiles{
    border: solid 2px #FFCA3A;
}
.tiles:hover{
    background-color: #DE3F4D;
}